.main-container__content-horizon
  = link_to root_path, class: "main-container__content-horizon-photo" do
    = image_tag rate.odai.image
  .photo-meta
    = link_to root_path do
      %span.fa.fa-camera{:title => "odai by"}
      #{rate.odai.user.name}
  .photo-text
    = rate.body
  .rating
    %i.fa.fa-star.fa
      #{rate.comments.sum(:rate)}



