.main-container__content-horizon
  = link_to root_path, class: "main-container__content-horizon-photo" do
    = image_tag boke.odai.image
  .photo-meta
    = link_to root_path do
      %span.fa.fa-camera{:title => "photo by"}
        #{boke.user.name}
  .photo-text
    = boke.body
  .rating
    %i.fa.fa-star.fa
      #{boke.comments.sum(:rate)}
