.main-container__content-title
  新着ボケ
.main-container__content-boke
  .main-container__content-boke_photo
    .main-container__content-boke_photo-content
      = image_tag(@new_odai.image)
      .main-container__content-boke_photo-content-meta
        %a{:href => "", :target => "_self"}投稿者
  %h3.main-container__content-boke_text
    = @new_boke.body
  .main-container__content-boke-about
    .main-container__content-boke-about-information
      .main-container__content-boke-about-information-boke-stars
      - if @new_star >= 1
        = link_to root_path do
          %i.fa.fa-star
            #{@new_star}
      - else
        = link_to root_path do
          %i.fa.fa-star
            0
      .main-container__content-boke-about-information-label
        %a.time_ago
          = time_ago_in_words(@new_boke.created_at)
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-facebook.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-twitter.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-warning.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-external-link.fa-2x
    .main-container__content-boke-about-information2
      %span.main-container__content-boke-about-information2-rate-element
        = form_tag("/odais/#{@new_odai.id}/bokes/#{@new_boke.id}/comments", method: :post) do
          .evaluation
            %input#hoshi01{:name => "rate", :type => "radio", :value => "5"}/
            %label.new{:for => "hoshi01"}
              %span.text> 最高
              ★
            %input#hoshi02{:name => "rate", :type => "radio", :value => "4"}/
            %label.new{:for => "hoshi02"}
              %span.text> 良い
              ★
            %input#hoshi03{:name => "rate", :type => "radio", :value => "3"}/
            %label.new{:for => "hoshi03"}
              %span.text> 普通
              ★
            %input#hoshi04{:name => "rate", :type => "radio", :value => "2"}/
            %label.new{:for => "hoshi04"}
              %span.text> 悪い
              ★
            %input#hoshi05{:name => "rate", :type => "radio", :value => "1"}/
            %label.new{:for => "hoshi05"}
              %span.text> 最悪
              ★
          %textarea{:class => "new_text", :cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
          %input#button2{:type => "submit", :value => "SENT"}/

%p.main-container__content-text
  %a.btn-primary.btn.btn-long{:href => "/boke/popular"} もっとみる
