.main-container__content-title
  人気ボケ
.main-container__content-boke
  .main-container__content-boke_photo
    .main-container__content-boke_photo-content
      = image_tag(@odai.image)
      .main-container__content-boke_photo-content-meta
        %a{:href => "", :target => "_self"}投稿者
  %h3.main-container__content-boke_text
    = @boke.body
  .main-container__content-boke-about
    .main-container__content-boke-about-information
      .main-container__content-boke-about-information-boke-stars
        = link_to root_path do
          %i.fa.fa-star
            #{@star}
      .main-container__content-boke-about-information-label
        %a.time_ago
          = time_ago_in_words(@boke.created_at)
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-facebook.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-twitter.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-warning.fa-2x
      %span.main-container__content-boke-about-information-social
        = link_to root_path do
          %i.fa.fa-external-link.fa-2x
    .main-container__content-boke-about-information2
      %span.main-container__content-boke-about-information2-rate-element
        = form_tag("/odais/#{@odai.id}/bokes/#{@boke.id}/comments", method: :post) do
          .evaluation
            %input#star1{:name => "rate", :type => "radio", :value => "5"}/
            %label.top{:for => "star1"}
              %span.text> 最高
              ★
            %input#star2{:name => "rate", :type => "radio", :value => "4"}/
            %label.top{:for => "star2"}
              %span.text> 良い
              ★
            %input#star3{:name => "rate", :type => "radio", :value => "3"}/
            %label.top{:for => "star3"}
              %span.text> 普通
              ★
            %input#star4{:name => "rate", :type => "radio", :value => "2"}/
            %label.top{:for => "star4"}
              %span.text> 悪い
              ★
            %input#star5{:name => "rate", :type => "radio", :value => "1"}/
            %label.top{:for => "star5"}
              %span.text> 最悪
              ★
          %textarea{:class => "boke_text", :cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
          %input#button{:type => "submit", :value => "SENT"}/
.main-container__content-attention.clearfix
  .main-container__content-title
    注目ボケ
  = render partial: 'horizon', collection: @rates, as: :rate
.main-container__content-attention.clearfix
  .main-container__content-title
    新着ボケ
  = render partial: 'new_bokes', collection: @new_bokes, as: :boke

