#wrapper.clearfix
  #container.clearfix
    .main-container.clearfix
      .main-container__menu
        %ul.main-container__menu__list
          %li.active
            %a{:href => "", :target => "_self"}セレクト
          %li
            %a{:href => "", :target => "_self"}
              複数セレクト
          %li
            %a{:href => "", :target => "_self"}設定
          %li
            = link_to "お題投稿", new_odai_path, method: :get
      %ul.main-container__content
        %li.odai-list
          = render partial: "pin", collection: @odais, as: :odai
        %li.odai-hukusu-list.kakusu
          = form_tag('/rensou_bokes', method: :post) do
            = render partial: "hukusu", collection: @hukusu_odais, as: :odai
            = hidden_field_tag 'hukusu_odais_ids', @hukusu_odais_ids
            %textarea{:cols => "20", :name => "body", :placeholder => "ボケを入力して下さい", :rows => "10"}
            / %input{:type => "hidden", :name => "user_id", :value => current_user.id}
            %input{:type => "submit", :value => "SENT"}
